.resultBox {
  border: 1px solid black;
  padding: 4px;
  font-size: 28px;
  height: auto;
  width: fit-content;
  margin: 4px;
}

.inputBox {
  height: 50px;
  width: 50px;
  font-size: 20px;
  text-align: center;
}

.hide {
  display: none;
}

.resultContainer {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.resultItemContainer {
  display: inline-block;
  height: 50px;
  width: 50px;
  font-size: 20px;
  text-align: center;
  align-content: center;
}
