* {
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  margin: 0;
}

body {
  background: #000000;
  background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(2, 0, 36, 1) 100%);
  color: #B8B8B8;
}

main {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  place-items: center;
}

.inputBox {
  height: 50px;
  width: 50px;
  font-size: 20px;
  text-align: center;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.08);
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.4px);
  -webkit-backdrop-filter: blur(4.4px);

  caret-color: #B8B8B8;
  color: #B8B8B8;
}

button {
  font-size: 18px;
  height: 50px;
  width: auto;
  border-radius: 4px;
  padding: 4px;

  background-color: #6FA0AF;
}

.buttonsContainer {
  display: flex;
  flex-direction: row;
  gap: 8px;
  margin: 8px;
}

.hide {
  display: none;
}

.resultContainer {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.resultBox {
  padding: 4px;
  font-size: 28px;
  height: auto;
  width: fit-content;
  margin: 4px;
  border-radius: 10px;
  border: 2px solid #B8B8B8;
}

.resultItemContainer {
  display: inline-block;
  height: 50px;
  width: 50px;
  font-size: 20px;
  text-align: center;
  align-content: center;
}

.listContainer {
  display: flex;
  flex-direction: column;
  place-items: center;
}

.countDisplay {
  font-size: 24px;
}

@media (max-width: 600px) {


  h1 {
    font-size: 22px;
  }

  h2 {
    font-size: 18px;
  }

  .resultItemContainer {
    height: 40px;
    width: 40px;
  }

  .countDisplay {
    font-size: 16px;
  }
}

@media (max-width: 360px) {
  .inputBox {
    height: 45px;
    width: 45px;
  }

  .resultContainer {
    flex-direction: column;
  }

}
