main {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  place-items: center;
}

.inputBox {
  height: 50px;
  width: 50px;
  font-size: 20px;
  text-align: center;
}

button {
  font-size: 18px;
  height: 50px;
  width: auto;
  border-radius: 4px;
  padding: 4px;
}

.buttonsContainer {
  display: flex;
  flex-direction: row;
  gap: 8px;
  margin: 8px;
}

.hide {
  display: none;
}

.resultContainer {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.resultBox {
  border: 1px solid black;
  padding: 4px;
  font-size: 28px;
  height: auto;
  width: fit-content;
  margin: 4px;
}

.resultItemContainer {
  display: inline-block;
  height: 50px;
  width: 50px;
  font-size: 20px;
  text-align: center;
  align-content: center;
}

.listContainer {
  display: flex;
  flex-direction: column;
  place-items: center;
}

.countDisplay {
  font-size: 24px;
}

@media (max-width: 600px) {
  .inputBox {
    height: 25px;
    width: 25px;
  }

  button {
    height: 25px;
    font-size: 12px;
  }

  h1 {
    font-size: 22px;
  }

  h2 {
    font-size: 18px;
  }

  .resultItemContainer {
    height: 25px;
    width: 25px;
  }

  .countDisplay {
    font-size: 16px;
  }
}
